.post {
  margin-top: 1rem;
  padding: 1.3rem 1rem;
  border-radius: 1rem;
  background-color: var(--bg-white);
  box-shadow: 0 5px 7px -7px var(--shadowColor);
}
.post__top {
  display: flex;
  align-items: center;
}
.post__avatar {
  margin-left: 10px;
}
.post__topInfo {
  margin-left: 10px;
}
.post__bottom {
  margin: 10px 0;
  padding: 1rem 1.6rem;
}
.post__image {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.post__image img {
  max-height: 60vh;
  object-fit: contain;
}
.post__options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  font-size: medium;
  color: gray;
  cursor: pointer;
}
.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.post__option:hover {
  background-color: var(--hoverColor);
  border-radius: 15px;
}
.post__option p {
  margin-left: 10px;
}
